<launch>
	
	<node name="joint_trajectory_action_server" pkg="intera_interface" type="joint_trajectory_action_server.py" output="screen" />
		
	<include file="$(find sawyer_moveit_config)/launch/sawyer_moveit.launch" />
	
	<node name="state_relay" pkg="topic_tools" type="relay" args="/robot/joint_states /joint_states"/>
	
	<!-- Run the test_PickandPlace_fish_with_Obstacles -->
	<node name="test" pkg="research" type="test.py" output="screen" />

</launch>
